<!-- views/mainPage.ejs -->
<!doctype html>
<html>
<head>
    <title>공기대 어그로</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
  
        
  .thumbnail { float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:0 auto; }

.thumbnail {
   width: 260px;
   height: 300px;
   overflow: auto;
 }

.thumbnail > img {
   width: 200px;
   height: 200px;
 }

 .title {
   width: 240px;
   height: 90px;
   position: relative; bottom: 5px; 

  h3 {
     font-size: 12px;
     margin: 2px;
      }

} 

    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> 공기대</h1>
    </div>

   
        <!-- LOCAL INFORMATION -->
       <% for(var i = postModels.length-1; i > -1 ; i--  ) { %>

            <div class = "row">
            <div class="col-sm-6 col-md-4">

            <div class = "thumbnail">
         <img src = "<%= postModels[i].image_url %>" alt = "이미지 로딩중.." class="img-responsive>
            </div>
            <div class = "title">
            <a href= "/posts/<%= postModels[i].id %>"><h3><%= postModels[i].title %></h3></a>
            </div>
            </div>
            </div>
       <% }%>


    

</div>

<% if (pageCount > 1) { %>  
<ul class="pagination">  
  <% if (currentPage > 1) { %>
      <li><a href="/posts/?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/posts/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/posts/?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>  
<% } %>  
</body>
</html>