<!-- views/humor_board.ejs -->
<!doctype html>
<html>
<head>
    <title>공기대 어그로</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--call the css file -->
    <link rel='stylesheet' href='/css/humor_board.css'> 
</head>
<body>
<div class="container">
<div id="wrapper" class="active">  
<div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="/">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a>Cadastro<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
           <ul class="sidebar-nav" id="sidebar">
                <li><a>인천공항기동대<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
           </ul>
          <li><a>Consulta<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>Relatorio<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>
   
   
        <!-- LOCAL INFORMATION -->
       <% for(var i = postModels.length-1; i > -1 ; i--  ) { %>

            <div class = "row">
            <div class="col-sm-6 col-md-4">

            <div class = "thumbnail">
         <img src = "<%= postModels[i].image_url %>" alt = "이미지 로딩중.." class="img-responsive>
            </div>
            <div class = "title">
            <a href= "/posts/<%= postModels[i].id %>"><h3><%= postModels[i].title %></h3></a>
            </div>
            </div>
            </div>
       <% }%>


    

</div>

<% if (pageCount > 1) { %>  
<ul class="pagination">  
  <% if (currentPage > 1) { %>
      <li><a href="/posts/?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/posts/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/posts/?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>  
<% } %>  
</body>
</html>